@use '../../styles/colors';

:host {
  display: block;
}

button {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: inset 0 2px 0 rgba(202, 230, 255, 0.15);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 11px 16px;
  cursor: pointer;

  &.primary {
    background: colors.$turquoise;
    border: 1px solid colors.$quetzal-blue;
    color: colors.$text;
  }

  &.secondary {
    border: 1px solid colors.$turquoise;
    color: colors.$dark-text;
  }
}
